{% extends 'base.html.twig' %} {% block
    body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %} {% if app.user %}
                <div class="card bg-light mb-3 mt-3">
                    <div class="card-body">
                        <div class="card-header">User list</div>
                            <table class="table">
                                <tr>
                                    <th>
                                        <div class="form-check">
                                            <label class="form-check-label" for="flexCheckDefault">
                                                Name
                                            </label>
                                        </div>
                                    </th>
                                    <th>mail</th>
                                </tr>
                                {% for user in users %}
                                    <th>
                                        <div class="form-check">
                                                {{ user.getName() }}
                                        </div>
                                    </th>
                                    <th>{{ user.getUsername() }}</th>
                                    <tr></tr>
                                {% endfor %}
                            </table>


                    </div>
                    {% else %}
                </div>
                    <a href="{{ path('app_login') }}" class="btn btn-info">
                        You need to login to see the list 😜😜 >></a>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
